* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Struttura Header */

/* Definisce l'immagine di sfondo e la mette in ripetizione, Definisce il colore dello sfondo, Definisce l'altezza del banner, Definisce gli elementi "figli"  */
.banner {
    background-image: url('../../img/pattern.png');
    background-repeat: repeat-x;
    background-color: #49a6f0;
    height: 150px;
    position: relative;
}

.logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 70px;
}


/* Struttura Main */

main {
    padding: 1%;
}

/* Definisce una spaziatura sopra il titolo e la grandezza del testo */
#h1-main {
    font-size: 4rem;
}

/* Definisce il colore del testo */
#the-booleaner {
    color: rgb(62, 164, 198);
}

/* Definisce il colore del testo */
#scritto-da {
    color: rgb(129, 129, 129);
}

/* Definisce il colore del testo e la grandezza del testo*/
#data {
    color: rgb(129, 129, 129);
    font-size: 1.3rem;
}

/* Definisce la spaziatura dall'H1 e la grandezza del testo */
#scritto-da,
#the-booleaner {
    padding-top: 5px;
    font-size: 2rem;
}

/* Section immagini */

/* Impostiamo le immagini in orizzontale, aggiungiamo uno spazio tra le immagini, Aggiungiamo uno spazio sopra le immagini */
#section-immagini {
    display: flex;
    gap: 10px;
    padding-top: 40px;
}

/* Definisce il quantitativo di spazio occupato dalle due immagini, sistema la proporzione dell'immagine andato a riempire lo spazio */
#section-immagini img {
    width: 45%;
    object-fit: cover;
}

/* Definisce lo spazio sopra il testo e la grandezza di esso */
#contenuto-post-image {
    padding-top: 2%;
    font-size: 2rem;
}

/* Evidenzia il testo di giallo */
.evidenzia-testo {
    background-color: yellow;
}

/* Definisce uno spazio a sinistra e sopra la lista non ordinata */
ul {
    padding-top: 2%;
    padding-left: 2%;
}

/* Definisce uno spazio dalla lista non ordinata alle tabelle */
#tabelle {
    padding-top: 2%;
}

/* Estende la tabella in orizzontale al 100% */
table {
    width: 100%;
}

/* Definisce il colore del thead, Il colore del testo, mette il font in bold e allinea il testo a sinistra, Mette uno spazio intorno al testo */
thead th {
    background-color: #33B5E5;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

/* Definisce lo spazio intorno al testo nella tabella */
tbody td {
    padding: 10px;
}

/* Definisce quale "riga" deve essere azzurra */
.azzurro {
    background-color: #E0F7FA;
}

/* Definisce lo spazio sopra il testo e la grandezza di esso */
#contenuto-post-tabella {
    padding-top: 2%;
    font-size: 2rem;
}